@font-face {
    font-family: 'poppinsblack';
    src: url(/components/fonts/poppins-black-webfont.woff) format('woff'),
         url(/components/fonts/poppins-black-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsregular';
    src: url(/components/fonts/poppins-regular-webfont.woff) format('woff'),
         url(/components/fonts/poppins-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinslight';
    src: url(/components/fonts/poppins-light-webfont.woff) format('woff'),
         url(/components/fonts/poppins-light-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}