body{
    background-color: #f3be5c;
    color: white;
    font-family: 'poppinsregular';
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-weight: 600px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

p{
    line-height: 20px;
    max-width: 800px;
    font-family: 'poppinslight';
}